<ion-view view-title="Tentang">
  <ion-content class="padding" overflow-scroll="false">
  	<div>
  		<center>
            <img src="img/logo.png" width="80%">
        </center>
        <center>
        	Jl. dr. Wahidin no. 50, Kauman - Batang
        </center>
        <center>
        	Telp./Fax. (0285) 391382  - pdambatang@yahoo.co.id
        </center>
        <br>
        <center>
        	Hak Cipta @ 2016 IT - Sub. Bag. Rekening
        </center>
        <br>
        <center>
        	
        </center>
  	</div>

  </ion-content>
</ion-view>
